
@{Layout = "~/Views/Shared/_Layout.cshtml";}

<section class="alizarin">
    <div class="container">
        <br><br><br>
       <center><h1>Your Have SuccessFully Deleted Your Account......</h1></center>
        <br><br><br>
    </div>
</section>
<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="center">
                    <h2>Our Students Love Us</h2>
                    <p>We help students of all over the world to find best tutor of their specified requirements.</p>
                </div>
                <div class="gap"></div>
                <div class="row">
                    <div class="col-md-6">
                        <blockquote>
                            <p>"I could not have gotten into Cornell University without TutorHunt.com"</p>
                            <small>Joe, 12th Grade, Virginia </small>
                        </blockquote>
                        <blockquote>
                            <p>"Tutor.com has helped me become more productive in my work."</p>
                            <small>Daniyal, 9th Grade, mrayer</small>
                        </blockquote>
                    </div>
                    <div class="col-md-6">
                        <blockquote>
                            <p>"I really liked that the tutors would not give up on me."</p>
                            <small>Cesar, 7th Grade, Florida</small>
                        </blockquote>
                        <blockquote>
                            <p>"I had a pretty low grade for pre-calculus and raised it to a B+."</p>
                            <small>Chris, 12th Grade, Texas</small>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#title-->  
